In [2]:
employee1 = (1, "Arjun", "HR"),
employee2 = (2, "Ravi", "Engineering"),
employee3 = (3, "Priya", "Marketing")

employees = [employee1, employee2, employee3]
employees

[((1, 'Arjun', 'HR'),),
 ((2, 'Ravi', 'Engineering'),),
 (3, 'Priya', 'Marketing')]

In [3]:
inventory1 = (101, "Laptop", 10),
inventory2 = (102, "Mouse", 50),
inventory3 = (103, "Keyboard", 30)
inventory = [inventory1, inventory2, inventory3]
inventory

[((101, 'Laptop', 10),), ((102, 'Mouse', 50),), (103, 'Keyboard', 30)]

In [5]:
event1 = ("2024-08-16", "10:00 AM")
event2 = ("2024-08-17", "2:00 PM")
event3 = ("2024-08-18", "11:00 AM")
events = [event1, event2, event3]
events

[('2024-08-16', '10:00 AM'),
 ('2024-08-17', '2:00 PM'),
 ('2024-08-18', '11:00 AM')]

In [6]:
company = {
    "HR": {"ID1": "Ali", "ID2": "Eve"},
    "Engineering": {"ID3": "Babar", "ID4": "David"},
    "Marketing": {"ID5": "Chand"}
}
company

{'HR': {'ID1': 'Ali', 'ID2': 'Eve'},
 'Engineering': {'ID3': 'Babar', 'ID4': 'David'},
 'Marketing': {'ID5': 'Chand'}}

In [8]:
student_scores = [
    {"Math": 85, "Science": 90, "English": 88},
    {"Math": 78, "Science": 82, "English": 85},
    {"Math": 92, "Science": 88, "English": 91}
]
print(student_scores[0]["Science"])
print(student_scores[2]["Math"])

90
92

In [9]:
projects = {
    "Project A": ["Task 1", "Task 2", "Task 3"],
    "Project B": ["Task 4", "Task 5"],
    "Project C": ["Task 6", "Task 7", "Task 8"]
}
print(projects["Project A"][2])
print(projects[ "Project C"][1])

Task 3
Task 7

In [10]:
courses = {
    "Python Basics": {
        "Module 1": "Introduction",
        "Module 2": "Data Types",
        "Module 3": "Control Flow"
    },
    "Data Science": {
        "Module 1": "Introduction to Data Science",
        "Module 2": "Data Analysis with Pandas",
        "Module 3": "Machine Learning"
    }
}
print(courses["Python Basics"]["Module 2"])
print(courses["Data Science"]["Module 3"])

Data Types
Machine Learning

In [13]:
products = [("Laptop", 800), ("Mouse", 20), ("Keyboard", 50), ("Monitor", 150)]
threshold = 100

affordable_products = []

for name, price in products:
    if price < threshold:
        affordable_products.append(name)

print("Products below the threshold:", affordable_products)

Products below the threshold: ['Mouse', 'Keyboard']